.header-title{
    margin: 20px;
    width: 40%;
    font-size: $font-size_xxl;
    letter-spacing: $space_s;
    font-family: $font_family_default;
    & a{
        color: $font-color_contents;
    }
}
