.header{
    padding-bottom: 10px;
    color: $font-color_sub;
    background-color: $back-color-sub;
    width: $site-width;
    font-size: $font-size_default;
    height: 8vh;
    min-height: 70px;
    &-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include mq(lg){
            align-items: flex-start;
        }
        &:last-child{
            align-items: flex-end;
            @include mq(lg){
                align-items: flex-start;
            }
        }
    }
}