.login-contact{
    padding-top: 200px;
    @include mq(md){
        padding-top: 200px;
    }
    @include mq(md){
        padding-top: 200px;
    }
    &__container{
        height: 400px;
        width: 470px;
        margin: 0 auto;
        border: none;
        border-radius: 3px;
        opacity: 0.9;
        background-color: $back-color_content;
        @include mq(md){
            width: 80%;
        }
        @include mq(){
            width: 90%;
        }
    }
    &__title{
        font-size: $font-size_3l;
        text-align: center;
        padding-top: 15px;
    }
    &__form{
        display: flex;
        flex-direction: column;
        margin: 40px auto 0 auto;
        width: 80%;
        &__input{
            margin: $form-login-margin;
            width: 100%;
            height: 25px;
            border-radius: 3px;
            border: none;
            border: $border-form;
        }
        &__errormsg{
            color: $font-color_errMsg;
        }
        &__submit{
            margin-top: 24px;
            border-radius: 3px;
            border: none;
            width: 100%;
            height: 40px;
            color: $font-color_contents;
            font-size: $font-size_l;
            background: $back-color_form-submit;
            &:disabled{
                background: $back-color_content-sub;
                color: $font-color_default;
                // animationで背景変化させる。右に走るように
            }
        }
    }
}